.main_header {
  width: 100%;
  height: 3vw;
}
.flex_header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_1 {
  width: 33.33333%;
  height: 100%;
  background-color: red;
}
.header_2 {
  width: 33.33334%;
  height: 100%;
  background-color: blue;
}
.header_3 {
  width: 33.33333%;
  height: 100%;
  background-color: black;
}
